stages:
  - build
  - publish

variables:
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_NO_CACHE_DIR: "off"

build-package:
  stage: build
  image: python:3.11
  script:
    - pip install --upgrade pip
    - pip install build
    - python -m build
  artifacts:
    paths:
      - dist/

publish-pypi:
  stage: publish
  image: python:3.11
  script:
    - pip install --upgrade pip
    - pip install twine
    - python -m twine upload dist/* -u __token__ -p $PYPI_API_TOKEN
  only:
    - main   # hanya jalan kalau commit/merge ke branch main
