stages:
  - build
  - publish

build:
  stage: build
  script:
    - echo "Building package..."
    - pip install build
    - python -m build
  tags:
    - build   # <--- pastikan runner dengan tag ini ada di server

publish:
  stage: publish
  script:
    - echo "Publishing to PyPI..."
    - pip install twine
    - python -m twine upload dist/* -u __token__ -p $PYPI_API_TOKEN
  tags:
    - build   # <--- atau tag runner yang sama
  only:
    - main
